
body{
    background-image: url("ProjectIcons/indexBackground.jpeg");
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    grid-template-rows: [row1-start] 10% [row1-end row2-start] 65% [row2-end row3-start] 5% [row3-end];
    grid-template-columns: repeat(2, 45% [col-start]);
    column-gap: 5%;
    row-gap: 5%;
}

article{
    background-color: rgb(230, 240, 245,0.7);
}
header{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    color: rgb(150, 170, 255);
}
p{
    margin-left: 2%;
}
main{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: space-between;
    gap: 15%;
}
footer{
    border: 2px solid black;
    background-color:rgba(150, 170, 255,0.7);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    padding: 1%;
}


textarea{
    resize: none;
}